.g--1 {
  width: 8.33333%;
  margin-top: 40px;
  margin-bottom: 40px; }

.m--1 {
  margin-left: 8.33333%; }

.g--2 {
  width: 16.66667%;
  margin-top: 40px;
  margin-bottom: 40px; }

.m--2 {
  margin-left: 16.66667%; }

.g--3 {
  width: 25%;
  margin-top: 40px;
  margin-bottom: 40px; }

.m--3 {
  margin-left: 25%; }

.g--4 {
  width: 33.33333%;
  margin-top: 40px;
  margin-bottom: 40px; }

.m--4 {
  margin-left: 33.33333%; }

.g--5 {
  width: 41.66667%;
  margin-top: 40px;
  margin-bottom: 40px; }

.m--5 {
  margin-left: 41.66667%; }

.g--6 {
  width: 50%;
  margin-top: 40px;
  margin-bottom: 40px; }

.m--6 {
  margin-left: 50%; }

.g--7 {
  width: 58.33333%;
  margin-top: 40px;
  margin-bottom: 40px; }

.m--7 {
  margin-left: 58.33333%; }

.g--8 {
  width: 66.66667%;
  margin-top: 40px;
  margin-bottom: 40px; }

.m--8 {
  margin-left: 66.66667%; }

.g--9 {
  width: 75%;
  margin-top: 40px;
  margin-bottom: 40px; }

.m--9 {
  margin-left: 75%; }

.g--10 {
  width: 83.33333%;
  margin-top: 40px;
  margin-bottom: 40px; }

.m--10 {
  margin-left: 83.33333%; }

.g--11 {
  width: 91.66667%;
  margin-top: 40px;
  margin-bottom: 40px; }

.m--11 {
  margin-left: 91.66667%; }

.g--12 {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px; }

.m--12 {
  margin-left: 100%; }

.m--0 {
  margin-left: 0; }

[class*="container"] {
  display: flex; }

.container--baseline {
  align-items: baseline; }

.container--center {
  align-items: center; }

.container--start {
  align-items: flex-start; }

.container--end {
  align-items: flex-end; }

.container--justify {
  justify-content: center; }

.container--wrap {
  flex-wrap: wrap; }

.nudge--right {
  margin-right: 20px; }

.nudge--left {
  margin-left: 20px; }

@media screen and (max-width: 1200px) {
  .g-m--1 {
    width: 8.33333%;
    margin-top: 26px;
    margin-bottom: 26px; }
  .m-m--1 {
    margin-left: 8.33333%; }
  .g-m--2 {
    width: 16.66667%;
    margin-top: 26px;
    margin-bottom: 26px; }
  .m-m--2 {
    margin-left: 16.66667%; }
  .g-m--3 {
    width: 25%;
    margin-top: 26px;
    margin-bottom: 26px; }
  .m-m--3 {
    margin-left: 25%; }
  .g-m--4 {
    width: 33.33333%;
    margin-top: 26px;
    margin-bottom: 26px; }
  .m-m--4 {
    margin-left: 33.33333%; }
  .g-m--5 {
    width: 41.66667%;
    margin-top: 26px;
    margin-bottom: 26px; }
  .m-m--5 {
    margin-left: 41.66667%; }
  .g-m--6 {
    width: 50%;
    margin-top: 26px;
    margin-bottom: 26px; }
  .m-m--6 {
    margin-left: 50%; }
  .g-m--7 {
    width: 58.33333%;
    margin-top: 26px;
    margin-bottom: 26px; }
  .m-m--7 {
    margin-left: 58.33333%; }
  .g-m--8 {
    width: 66.66667%;
    margin-top: 26px;
    margin-bottom: 26px; }
  .m-m--8 {
    margin-left: 66.66667%; }
  .g-m--9 {
    width: 75%;
    margin-top: 26px;
    margin-bottom: 26px; }
  .m-m--9 {
    margin-left: 75%; }
  .g-m--10 {
    width: 83.33333%;
    margin-top: 26px;
    margin-bottom: 26px; }
  .m-m--10 {
    margin-left: 83.33333%; }
  .g-m--11 {
    width: 91.66667%;
    margin-top: 26px;
    margin-bottom: 26px; }
  .m-m--11 {
    margin-left: 91.66667%; }
  .g-m--12 {
    width: 100%;
    margin-top: 26px;
    margin-bottom: 26px; }
  .m-m--12 {
    margin-left: 100%; }
  .m-m--0 {
    margin-left: 0; }
  .container--wrap--m {
    flex-wrap: wrap; }
  .no-nudge--m {
    margin-left: 0;
    margin-right: 0; } }

@media screen and (max-width: 900px) {
  .g-s--1 {
    width: 8.33333%;
    margin-top: 18px;
    margin-bottom: 18px; }
  .m-s--1 {
    margin-left: 8.33333%; }
  .g-s--2 {
    width: 16.66667%;
    margin-top: 18px;
    margin-bottom: 18px; }
  .m-s--2 {
    margin-left: 16.66667%; }
  .g-s--3 {
    width: 25%;
    margin-top: 18px;
    margin-bottom: 18px; }
  .m-s--3 {
    margin-left: 25%; }
  .g-s--4 {
    width: 33.33333%;
    margin-top: 18px;
    margin-bottom: 18px; }
  .m-s--4 {
    margin-left: 33.33333%; }
  .g-s--5 {
    width: 41.66667%;
    margin-top: 18px;
    margin-bottom: 18px; }
  .m-s--5 {
    margin-left: 41.66667%; }
  .g-s--6 {
    width: 50%;
    margin-top: 18px;
    margin-bottom: 18px; }
  .m-s--6 {
    margin-left: 50%; }
  .g-s--7 {
    width: 58.33333%;
    margin-top: 18px;
    margin-bottom: 18px; }
  .m-s--7 {
    margin-left: 58.33333%; }
  .g-s--8 {
    width: 66.66667%;
    margin-top: 18px;
    margin-bottom: 18px; }
  .m-s--8 {
    margin-left: 66.66667%; }
  .g-s--9 {
    width: 75%;
    margin-top: 18px;
    margin-bottom: 18px; }
  .m-s--9 {
    margin-left: 75%; }
  .g-s--10 {
    width: 83.33333%;
    margin-top: 18px;
    margin-bottom: 18px; }
  .m-s--10 {
    margin-left: 83.33333%; }
  .g-s--11 {
    width: 91.66667%;
    margin-top: 18px;
    margin-bottom: 18px; }
  .m-s--11 {
    margin-left: 91.66667%; }
  .g-s--12 {
    width: 100%;
    margin-top: 18px;
    margin-bottom: 18px; }
  .m-s--12 {
    margin-left: 100%; }
  .m-s--0 {
    margin-left: 0; }
  .container--wrap--s {
    flex-wrap: wrap; }
  .nudge--right {
    margin-right: 15px; }
  .nudge--left {
    margin-left: 15px; }
  .no-nudge--s {
    margin-left: 0;
    margin-right: 0; } }

@media screen and (max-width: 520px) {
  .g-t--1 {
    width: 8.33333%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .m-t--1 {
    margin-left: 8.33333%; }
  .g-t--2 {
    width: 16.66667%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .m-t--2 {
    margin-left: 16.66667%; }
  .g-t--3 {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .m-t--3 {
    margin-left: 25%; }
  .g-t--4 {
    width: 33.33333%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .m-t--4 {
    margin-left: 33.33333%; }
  .g-t--5 {
    width: 41.66667%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .m-t--5 {
    margin-left: 41.66667%; }
  .g-t--6 {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .m-t--6 {
    margin-left: 50%; }
  .g-t--7 {
    width: 58.33333%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .m-t--7 {
    margin-left: 58.33333%; }
  .g-t--8 {
    width: 66.66667%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .m-t--8 {
    margin-left: 66.66667%; }
  .g-t--9 {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .m-t--9 {
    margin-left: 75%; }
  .g-t--10 {
    width: 83.33333%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .m-t--10 {
    margin-left: 83.33333%; }
  .g-t--11 {
    width: 91.66667%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .m-t--11 {
    margin-left: 91.66667%; }
  .g-t--12 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .m-t--12 {
    margin-left: 100%; }
  .m-t--0 {
    margin-left: 0; }
  .container--wrap--t {
    flex-wrap: wrap; }
  .nudge--right {
    margin-right: 10px; }
  .nudge--left {
    margin-left: 10px; }
  .no-nudge--t {
    margin-left: 0;
    margin-right: 0; } }
