.userList {
  width: 20%;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.07); }
  .userList .userName {
    background-color: #e59a16;
    text-align: center;
    cursor: pointer; }
    .userList .userName:hover {
      background-color: #af7d24; }
  .userList .selected {
    background-color: #af7d24; }
